body {
		padding: 0px;
		border: 0px;	
	}
.canvas {
		position: absolute;
		vertical-align: middle;
		text-align: center;
		margin-left: 45%;
		margin-right: auto;
		margin-top: 20%; 
	}
#name {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5px;
		text-transform: lowercase;
		font-family: cursive, serif;
		display:none;
		font-size: small;
	}
#bird {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:120px;
		height:90px;
		background:url(images/bird.gif) center no-repeat #FFF;
	}
a{
		color: #000;
		text-transform: none;
		text-decoration: none
	}
.expand{
		font-family: fantasy;
		text-align: center;
		font-size: 10px;
	}
span{
		margin:0px;
		padding:0px;
		font-size: 14px;
		font-family: cursive, serif;
		background:#CCFF99
	}
span:hover{
		background:#CCFFCC;
		border-bottom:thin dotted #00FF00;
		border-top:thin dotted #00FF00
	}
#comment{
		margin:0px;
		padding:0px;
		font-size: 14px;
		font-family: cursive;
		background:#FF3333;
		border:thin solid #FFF
	}
#comment:hover{
		font-size: 14px;
		font-family: cursive;
		background:#FF0033;
		border:thin dotted #00FF00;
		-moz-opacity:0.4;
		filter:alpha(opacity=40)
	}
#commentbox{
		border-width: 2px;
		border-color: #767676;
		position:relative;
		text-align: center;	
		background-color: #ececec;
		width: 150px;
		padding: 10px;
		font-family: Verdana;
		font-size: 8pt;
	}
#commentfooter{
		margin-left: 10px;
		position:relative;
		text-align: center;
		width: 150px;
		font-family:arial;
		font-size: 90%;
		color: #000;
	}
#Quote{
		text-align: center;
		position:absolute;
	}
